body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    color: #000000;
    font-size: 13px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}

h1 {
    font: 600 50px "Open Sans", sans-serif;
    letter-spacing: -3px;
    margin-bottom: 0px;
}

h2 {
    font: 400 30px "Open Sans";
    letter-spacing: -2px;
}

h3 {
    font: 600 20px "Open Sans";
    letter-spacing: -1px;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #888888;
    margin: 10px 0;
}
a {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

p a {
    color: #000000;
    text-decoration: none;
}

html { 
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

li {
    user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
}

body {
    text-align: center;
    background-color: #ffffff;
}

a:hover {
    color: #555555;
}

.logo {
    margin: 15px;
}